{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- DataTable -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   

    <title></title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand text-white" href="#">Musung Garment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white btn-secondary btn m-2" href="{% url 'myapp:operatorlist' %}">Operator <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn-secondary btn m-2" href="{% url 'myapp:linelist' %}">Line <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn-secondary btn m-2" href="{% url 'myapp:daily_rep_view' %}">Daily Report <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'myapp:monthly_report' %}">Monthly Report <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'myapp:monthly_filterby_line' %}">Report Filter Line</a>
      </li> -->


      

      <li class="nav-item">
        <a class="nav-link text-white btn-warning btn m-2" href="{% url 'myapp:operator_reportgroup' %}">Operators Report</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white btn-warning btn m-2" href="{% url 'myapp:operator_report_by_date' %}">Operators Filter</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'myapp:line_operator_dash' %}">Operator Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Testing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="{% url 'myapp:report_groupby_operator' %}">report_groupby_operator</a>
          <a class="nav-link" href="{% url 'myapp:line_operator_dash' %}">line_operator_dash</a>
          <a class="nav-link" href="{% url 'myapp:operator_reportgroup' %}">operator_reportgroup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">operator_reportgroup</a>
        </div>
      </li> -->

    </ul>
  </div>
</nav>
    <!-- <h1>Hello, world!</h1> -->

   
<!-- Jumbotron -->

    <div class="jumbotron-fluid">
  <!-- <div class="container-fluid"> -->
    
{% block content %}
{% endblock content %}

  <!-- </div> -->
</div>

<!-- End Jumbotron -->




    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    

  
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>



<script>
  
$(document).ready(function(){
//lic
$.ajax({
    url: "/lic/",
    method: "GET",
    data:{lid:1},
    success: function(data){
        console.log(data.status);

    },
    error:function(){
        alert('Licence Expired !!!');
        window.setTimeout(function(){ } ,2000);
                        location.reload();
    },
                    
  });//end ajax Lic    


//start update line target
$("#linelistTbl").on('click', '.uptLineTarget', function() {
   var currenttr = $(this).closest(".linetr");
   var lid = currenttr.find(".lid").html();
   var ltarget = currenttr.find("input").val();
  // console.log(lid,ltarget)
   $.ajax({
    url: "/update_line_target/",
    method: "GET",
    data:{lid:lid, ltarget:ltarget},
    success: function(data){
        // console.log(data.status);

        // alert('Item Add Successfully');
        window.setTimeout(function(){ } ,2000);
                        location.reload();

        // window.location.href = '/admin/';
        // window.open('https://www.codexworld.com', '_blank');
    },
    error:function(){
        alert('having some error contact to developer');
    },
                    
  });//end ajax


});//end update line target


//start operator attendance
$("#optattend").on('click', '.optattbtn', function() {
  var currenttr = $(this).closest(".opattr");
  var oid = currenttr.find(".oid").html();
  
  $.ajax({
    url: "/save_att_daily/",
    method: "GET",
    data:{oid:oid},
    success: function(data){
  
        alert('Attendance Successfully');
        window.setTimeout(function(){ } ,2000);
                        location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax

});//end operator attendance

//start daily operator target update
$("#drvtbl").on('click', '.savopttarget', function() {
  var drvcurrenttr = $(this).closest(".drvtbltr");
  var ot1 = drvcurrenttr.find(".t1").val();
  var ot2 = drvcurrenttr.find(".t2").val();
  var ot3 = drvcurrenttr.find(".t3").val();
  var ot4 = drvcurrenttr.find(".t4").val();
  var ot5 = drvcurrenttr.find(".t5").val();
  var ot6 = drvcurrenttr.find(".t6").val();
  var ot7 = drvcurrenttr.find(".t7").val();
  var ot8 = drvcurrenttr.find(".t8").val();
  var ot9 = drvcurrenttr.find(".t9").val();
  var ot10 = drvcurrenttr.find(".t10").val();
  var ot11 = drvcurrenttr.find(".t11").val();
  var dvrtblid = drvcurrenttr.find(".dvrtblid").val();

  // console.log(ot1);
  $.ajax({
    url: "/save_daily_rep_view/",
    method: "GET",
    data:{ot1:ot1,ot2:ot2,ot3:ot3, ot4:ot4,ot5:ot5, ot6:ot6, ot7:ot7, ot8:ot8, ot9:ot9, ot10:ot10, ot11:ot11, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        window.setTimeout(function(){ } ,2000);
                        location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
});//end daily operator target update

//Hour1
$(".ih1").change(function(){
    var a1=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h1/",
    method: "GET",
    data:{a1:a1, dvrtblid:dvrtblid},
    success: function(data){
        console.log('h1');
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ 

        // } ,100);
        // location.reload(); 

    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour1

//Hour2
$(".ih2").change(function(){
    var a2=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h2/",
    method: "GET",
    data:{a2:a2, dvrtblid:dvrtblid},
    success: function(data){
        console.log('h2');
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour2

//Hour3
$(".ih3").change(function(){
    var a3=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h3/",
    method: "GET",
    data:{a3:a3, dvrtblid:dvrtblid},
    success: function(data){
        console.log('h3');
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour3

//Hour4
$(".ih4").change(function(){
    var a4=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h4/",
    method: "GET",
    data:{a4:a4, dvrtblid:dvrtblid},
    success: function(data){
        console.log('h3');
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour4

//Hour5
$(".ih5").change(function(){
    var a5=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h5/",
    method: "GET",
    data:{a5:a5, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour5

//Hour6
$(".ih6").change(function(){
    var a6=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h6/",
    method: "GET",
    data:{a6:a6, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload(); 
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour6


//Hour7
$(".ih7").change(function(){
    var a7=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h7/",
    method: "GET",
    data:{a7:a7, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload(); 
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour7


//Hour8
$(".ih8").change(function(){
    var a8=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h8/",
    method: "GET",
    data:{a8:a8, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();
        console.log('updated');       
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour8

//Hour9
$(".ih9").change(function(){
    var a9=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h9/",
    method: "GET",
    data:{a9:a9, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();
        console.log('updated');       
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour9

//Hour10
$(".ih10").change(function(){
    var a10=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h10/",
    method: "GET",
    data:{a10:a10, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload(); 
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour10

//Hour11
$(".ih11").change(function(){
    var a11=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h11/",
    method: "GET",
    data:{a11:a11, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload(); 
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour11


//Hour12
$(".ih12").change(function(){
    var a12=$(this).val();
    var drvcurrenttr = $(this).closest(".drvtbltr");
    var dvrtblid = drvcurrenttr.find(".dvrtblid").val();
    $.ajax({
    url: "/update_h12/",
    method: "GET",
    data:{a12:a12, dvrtblid:dvrtblid},
    success: function(data){
  
        // alert('Update Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload();
        console.log('updated');       
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
 
});//End Hour12


//start workhour change status
$("#workhourtbl").on('click', '.tch', function() {
    var currenttr = $(this).closest(".wtr");
    var hid = currenttr.find(".hid").html();
    // console.log('Check Click')
    $.ajax({
    url: "{% url 'myapp:changehrstatus' %}",
    method: "GET",
    data:{hid:hid},
    success: function(data){
  
        // alert('Status Change Successfully');
        // window.setTimeout(function(){ } ,100);
        //                 location.reload(); 
        console.log('updated');      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax

});//end workhour change status




//start operator attendance
$("#optattend").on('click', '.optatten', function() {
  var currenttr = $(this).closest(".opattr");
  var oid = currenttr.find(".oid").html();
  
  $.ajax({
    url: "/optortargetrep/",
    method: "GET",
    data:{oid:oid},
    success: function(data){
  
        alert('Attendance Successfully');
        window.setTimeout(function(){ } ,100);
                        location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax

});//end operator attendance

//Line Attendance
$("#invlist").on('click', '.lineatt', function() {
    var currenttr = $(this).closest(".linetr");
    var lid = currenttr.find(".lid").html();
    console.log(lid);
    $.ajax({
    url: "/daily_line_attendance/",
    method: "GET",
    data:{lid:lid},
    success: function(data){
  
        alert('Attendance Successfully');
        window.setTimeout(function(){ } ,100);
                        location.reload();      
    },
    error:function(){
        alert('Error contact to 09-969255445');
    },
                    
  });//end ajax
});//End Line Attendance



});//Ready Function


new DataTable('#dvrbydate', {
    layout: {
        topStart: {
            buttons: ['excel', 'pdf', 'print']
        }
    }
});

new DataTable('#monthlyrpt1', {
    layout: {
        topStart: {
            buttons: ['excel', 'pdf', 'print']
        },

    }
});

// new DataTable('#monthlyrpt', {
//     scrollX: true,
    
// });


$('#operatortargettbl').DataTable();
// $('.duedatetbl').DataTable();
// $('#optattend').DataTable();
$('#operatorlist').DataTable();


</script>




  </body>
</html>