{% extends 'base.html' %}

{% block content %}

<div class="m-3 pl-2">
  <form action="{% url 'myapp:duedatefilter' %}" method="post">
  {% csrf_token %}
  <div class="row">
  <input type="date" name="duedate" class="form-control col-md-2">
  <input type="submit" class="btn btn-sm btn-info">
  </div>


</form>
</div>

<div class="text-center">
  <h3>{{ls}}</h3>
  {% comment %} {% for i in lis %}
  <a href="{% url 'myapp:daily_rep_filter_by_line' i.id %}" class="btn btn-lg btn-success m-2">
    
         {{i.line_name}}
     
  </a>
  {% endfor %} {% endcomment %}
  
</div>




<div class="card border-info mb-3">
  <div class="card-body">



<table class="table table-striped" id="drvtbl">
  <thead>
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Name</th>

      
      
      <th scope="col">8:30 AM</th>
      <th scope="col">9:30 AM</th>
      <th scope="col">10:30 AM</th>
      <th scope="col">11:30 AM</th>
      <th scope="col">1:00 PM</th>
      <th scope="col">2:00 PM</th>
      <th scope="col">3:00 PM</th>
      <th scope="col">4:00 PM</th>
      <th scope="col">5:00 PM</th>
      <th scope="col">6:00 PM</th>
      <th scope="col">7:00 PM</th>
      <th scope="col">Target</th>
      <th scope="col">Total</th>
      <th scope="col">%</th>
      
      


      
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr class="drvtbltr">
      
      
      <td><a href="{% url 'myapp:dailyrep_delete' i.id %}">{{forloop.counter}}</a></td>
      <td>
        <a href="{% url 'myapp:update_combine' i.id %}">{{i.operator_name}}</a>
        
      </td>

      
      <td>
        <input type="number" class="dvrtblid" value="{{i.id}}" hidden>
        
        {% if i.h1 == 0 %}
        <input type="text" name="" value="" class="form-control ih1">
        {% else %}
        <input type="text" name="" value="{{i.h1}}" class="form-control ih1">
        {% endif %}
      </td>
      <td>
        
       {% if i.h2 == 0 %}
        <input type="text" name="" value="" class="form-control ih2">
        {% else %}
        <input type="text" name="" value="{{i.h2}}" class="form-control ih2">
        {% endif %}
        
      </td>
      <td>
        
       {% if i.h3 == 0 %}
        <input type="text" name="" value="" class="form-control ih3">
        {% else %}
        <input type="text" name="" value="{{i.h3}}" class="form-control ih3">
        {% endif %}
      </td>
      <td>
        
        {% if i.h4 == 0 %}
        <input type="text" name="" value="" class="form-control ih4">
        {% else %}
        <input type="text" name="" value="{{i.h4}}" class="form-control ih4">
        {% endif %}
      </td>
      <td>
        
        {% if i.h5 == 0 %}
        <input type="text" name="" value="" class="form-control ih5">
        {% else %}
        <input type="text" name="" value="{{i.h5}}" class="form-control ih5">
        {% endif %}
      </td>
      <td>
        
        {% if i.h6 == 0 %}
        <input type="text" name="" value="" class="form-control ih6">
        {% else %}
        <input type="text" name="" value="{{i.h6}}" class="form-control ih6">
        {% endif %}
      </td>
      <td>
        
        {% if i.h7 == 0 %}
        <input type="text" name="" value="" class="form-control ih7">
        {% else %}
        <input type="text" name="" value="{{i.h7}}" class="form-control ih7">
        {% endif %}
      </td>
      <td>
        
        {% if i.h8 == 0 %}
        <input type="text" name="" value="" class="form-control ih8">
        {% else %}
        <input type="text" name="" value="{{i.h8}}" class="form-control ih8">
        {% endif %}
      </td>
      <td>
        
        {% if i.h9 == 0 %}
        <input type="text" name="" value="" class="form-control ih9">
        {% else %}
        <input type="text" name="" value="{{i.h9}}" class="form-control ih9">
        {% endif %}
      </td>
      <td>
        
        {% if i.h10 == 0 %}
        <input type="text" name="" value="" class="form-control ih10">
        {% else %}
        <input type="text" name="" value="{{i.h10}}" class="form-control ih10">
        {% endif %}
      </td>
      <td>
        
        {% if i.h11 == 0 %}
        <input type="text" name="" value="" class="form-control ih11">
        {% else %}
        <input type="text" name="" value="{{i.h11}}" class="form-control ih11">
        {% endif %}
      </td>


      <td>
        <strong style="font-size:18px;">{{i.target}}</strong>
      </td>
      
      <td><strong style="font-size:18px;">{{i.target_qty}}</strong></td>

      <td>
        <strong style="font-size:18px;">{{i.target_per}}</strong>
      </td>


      
    </tr>
    {% endfor %}

  </tbody>
</table>



  </div>
</div>




{% endblock content %}