{% extends 'base.html' %}

{% block content %}

<div class="m-3 pl-2">
  <!-- <form action="{% url 'myapp:duedatefilter' %}" method="post">
  {% csrf_token %}
  <div class="row">
  <input type="date" name="duedate" class="form-control col-md-2">
  <input type="submit" class="btn btn-sm btn-info">
  <button type="button" class="btn btn-sm btn-primary ml-5" id="SaveData"><i class="fa-solid fa-cloud-arrow-up"></i> SaveData</button>
  </div>
  
</form> -->
<!-- <a href="#" class="h3">{{ls}}</a> -->
<!-- <form action="{% url 'myapp:backdate_dataentry' %}" method="post">
  {% csrf_token %}
  <div class="row">
  <input type="date" name="duedate" class="form-control col-md-2">
  <input type="number" name="linename" value="{{ls.id}}" hidden>
  <input type="submit" class="btn btn-sm btn-info">
  
  </div>
  
  
</form> -->



</div>

<div class="text-center row m-3">
 
  <!-- <a href="#" class="h3">{{ls}}</a> -->
  <!-- <button type="button" class="btn btn-secondary">{{ls}}</button> -->

<div class="col-md-3">  
<form action="{% url 'myapp:daily_rep_search' %}" method="get">
  <input type="number" name="lid" value="{{ls.id}}" hidden>
  <input type="text" name="emp" class="form-control" placeholder="Enter Employee Name">
  <input type="submit" value="" hidden>
</form>
</div>

<div class="col-md-4">
  <a href="#" class="h3">{{ls}}</a>
</div>

<div class="col-md-4">
  <form action="{% url 'myapp:backdate_dataentry' %}" method="post">
    {% csrf_token %}
    <div class="row">
    <input type="date" name="duedate" class="form-control col-md-6">
    <input type="number" name="linename" value="{{ls.id}}" hidden>
    <input type="submit" class="btn btn-sm btn-info">
    
    </div>
    
    
  </form>
</div>

</div>




<div class="card border-info mb-3">
  <div class="card-body">



<table class="table table-striped" id="drvtbl">
  <thead>
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Name</th>

      
      
      <th scope="col">8:30 AM</th>
      <th scope="col">9:30 AM</th>
      <th scope="col">10:30 AM</th>
      <th scope="col">11:30 AM</th>
      <th scope="col">1:00 PM</th>
      <th scope="col">2:00 PM</th>
      <th scope="col">3:00 PM</th>
      <th scope="col">4:00 PM</th>
      <th scope="col">5:00 PM</th>
      <th scope="col">6:00 PM</th>
      <th scope="col">7:00 PM</th>
      <th scope="col">Target</th>
      <th scope="col">Total</th>
      <th scope="col">%</th>
      <th scope="col">Remark</th>
      
      


      
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr class="drvtbltr">
      
      
      <td><a href="{% url 'myapp:dailyrep_delete' i.id %}">{{forloop.counter}}</a></td>
      <td style="min-width: 200px;">
        
        <a href="{% url 'myapp:update_combine' i.id %}">{{i.operator_name}}</a>
        
      </td>

      
      <td>
        <input type="number" class="dvrtblid" value="{{i.id}}" hidden>
        
        {% if i.h1 == 0 %}
        <input type="text" name="" value="0" class="form-control ih1">
        {% else %}
        <input type="text" name="" value="{{i.h1}}" class="form-control ih1">
        {% endif %}
      </td>
      <td>
        
       {% if i.h2 == 0 %}
        <input type="text" name="" value="0" class="form-control ih2">
        {% else %}
        <input type="text" name="" value="{{i.h2}}" class="form-control ih2">
        {% endif %}
        
      </td>
      <td>
        
       {% if i.h3 == 0 %}
        <input type="text" name="" value="0" class="form-control ih3">
        {% else %}
        <input type="text" name="" value="{{i.h3}}" class="form-control ih3">
        {% endif %}
      </td>
      <td>
        
        {% if i.h4 == 0 %}
        <input type="text" name="" value="0" class="form-control ih4">
        {% else %}
        <input type="text" name="" value="{{i.h4}}" class="form-control ih4">
        {% endif %}
      </td>
      <td>
        
        {% if i.h5 == 0 %}
        <input type="text" name="" value="0" class="form-control ih5">
        {% else %}
        <input type="text" name="" value="{{i.h5}}" class="form-control ih5">
        {% endif %}
      </td>
      <td>
        
        {% if i.h6 == 0 %}
        <input type="text" name="" value="0" class="form-control ih6">
        {% else %}
        <input type="text" name="" value="{{i.h6}}" class="form-control ih6">
        {% endif %}
      </td>
      <td>
        
        {% if i.h7 == 0 %}
        <input type="text" name="" value="0" class="form-control ih7">
        {% else %}
        <input type="text" name="" value="{{i.h7}}" class="form-control ih7">
        {% endif %}
      </td>
      <td>
        
        {% if i.h8 == 0 %}
        <input type="text" name="" value="0" class="form-control ih8">
        {% else %}
        <input type="text" name="" value="{{i.h8}}" class="form-control ih8">
        {% endif %}
      </td>
      <td>
        
        {% if i.h9 == 0 %}
        <input type="text" name="" value="0" class="form-control ih9">
        {% else %}
        <input type="text" name="" value="{{i.h9}}" class="form-control ih9">
        {% endif %}
      </td>
      <td>
        
        {% if i.h10 == 0 %}
        <input type="text" name="" value="0" class="form-control ih10">
        {% else %}
        <input type="text" name="" value="{{i.h10}}" class="form-control ih10">
        {% endif %}
      </td>
      <td>
        
        {% if i.h11 == 0 %}
        <input type="text" name="" value="0" class="form-control ih11">
        {% else %}
        <input type="text" name="" value="{{i.h11}}" class="form-control ih11">
        {% endif %}
      </td>


      <td>
        <strong style="font-size:18px;">{{i.target}}</strong>
      </td>
      
      <td><strong style="font-size:18px;">{{i.target_qty}}</strong></td>

      <td>
        {% if i.target_per > 80 %}
        <a href="#" class="btn btn-sm btn-success d-block">{{i.target_per}}%</a>
        {% elif i.target_per < 50 %}
        <a href="#" class="btn btn-sm btn-danger d-block">{{i.target_per}}%</a>
        {% else %}
        <a href="#" class="btn btn-sm btn-outline-secondary d-block">{{i.target_per}}%</a>
        {% endif %}
      </td>
      <td style="min-width: 130px;">
        <a href="{% url 'myapp:update_combine' i.id %}" class="btn-sm btn-info"><i class="fas fa-edit"></i></a>
        <a href="{% url 'myapp:dailyrep_delete' i.id %}" class="btn-sm btn-danger"><i class="fas fa-trash"></i></a>
        {% if i.remark %}
        <a href="#" class="btn-sm btn-warning"  data-toggle="tooltip" data-placement="left" title="{{i.remark}}">
          <i class="fa-solid fa-comments"></i>
        </a>
        <!-- <a href="#" class="btn-sm btn-warning"><i class="fa-solid fa-comments"></i></a> -->
        {% endif %}
        
        
      </td>


      
    </tr>
    {% endfor %}

  </tbody>
</table>



  </div>
</div>




{% endblock content %}