{% extends 'base.html' %}

{% block content %}



<div class="card border-info"  style="max-width: 100%;">
  <div class="card-body">


<div class="row">   


<div class="col-md-3">
<form action="{% url 'myapp:monthly_filterby_line' %}" method="post">{% csrf_token %}
<label>Date</label>
<input type="date" name="filterdate" class="form-control">
<label>Line</label>
<select class="form-select form-control" aria-label="Default select example" name="lineanme">
  <option selected>Select Line Name</option>
  {% for l in lis %}
  <option value="{{l.id}}">{{l.line_name}}</option>
  {% endfor %}
  
</select>

<input type="submit" class="btn btn-outline-primary btn-block mt-2 mb-5" value="Filter">
</form>
</div>

</div>








<table class="table table-striped" id="monthlyrpt">
  <thead>
    <tr>
      
      
      
      
      <th scope="col">Line</th>
      <th scope="col">Name</th>
      
      <th scope="col">8:30 AM</th>
      <th scope="col">9:30 AM</th>
      <th scope="col">10:30 AM</th>
      <th scope="col">11:30 AM</th>
      <th scope="col">1:00 PM</th>
      <th scope="col">2:00 PM</th>
      <th scope="col">3:00 PM</th>
      <th scope="col">4:00 PM</th>
      <th scope="col">5:00 PM</th>
      <th scope="col">6:00 PM</th>
      <th scope="col">7:00 PM</th>
      <th scope="col">Total</th>
      
      <th scope="col">Date</th>


      
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr class="drvtbltr">
      
      
      <td>{{i.line}}</td>
      <td>{{i.operator_name}}</td>

      
      <td>{{i.h1}}</td>
      <td>{{i.h2}}</td>
      <td>{{i.h3}}</td>
      <td>{{i.h4}}</td>
      <td>{{i.h5}}</td>
      <td>{{i.h6}}</td>
      <td>{{i.h7}}</td>
      <td>{{i.h8}}</td>
      <td>{{i.h9}}</td>
      <td>{{i.h10}}</td>
      <td>{{i.h11}}</td>
      {% if forloop.counter <= downrank %}
      <td class="bg-success">{{i.target_qty}}</td>
      {% elif forloop.counter > underrank %}
      <td class="bg-danger">{{i.target_qty}}</td>
      {% else %}
      <td>{{i.target_qty}}</td>
      {% endif %}

      
      
      <td>{{i.created_date}}</td>
   
      
    </tr>
    {% endfor %}

  </tbody>
</table>



  </div>
</div>




{% endblock content %}