{% extends 'base.html' %}

{% block content %}




<div class="card border-info mb-3">
  <div class="card-body">
    
      <a class="text-white btn-success btn m-2" href="{% url 'myapp:operatorlist' %}">Operator <span class="sr-only">(current)</span></a>
    
<hr>

<table class="table table-striped" id="optattend">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">EID</th>
      <th scope="col">Name</th>
      <th scope="col">Line</th>
      
      <th scope="col">Status</th>
      <th>Reports</th>
      <th>Retired</th>
      <th>Update</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr class="opattr">
      <!-- <th>{{forloop.counter}}</th> -->
      <th>{{i.srno}}</th>
      <th scope="row" class="oid" hidden>{{i.id}}</th>
      <td>{{i.employee_code}}</td>
      <td>
     
    <a href="{% url 'myapp:operatorupdate' i.id %}">{{i.name}}</a></td>

      <td>{{i.line}}</td>
      
      <td>
      	
        <button type="button" class="btn btn-sm btn-info optattbtn">AttendanceBtn</button>

      </td>
      <td>
        <a href="{% url 'myapp:reportbyoperator' i.id %}" class="btn btn-sm btn-info">Report</a>
      </td>
      <td>
        <!-- {{i.resign}} -->
      {% if i.resign == False %}
      <button class="btn btn-sm btn-success retired"><i class="fa-solid fa-circle-check"></i></button>
      {% else %}
      <button class="btn btn-sm btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
      {% endif %}
      </td>


      <td>
        <a class="btn-sm btn-info" data-toggle="modal" data-target="#exampleModal-{{i.id}}"><i class="fas fa-user-cog"></i></a>
        
        <!-- Modal -->
<div class="modal fade" id="exampleModal-{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-{{i.id}}"><span class="text-primary">{{i.name}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'myapp:operator_profile_update' %}">
      <div class="modal-body">
        
          <!-- Security token by Django -->
         {% csrf_token %}
      
          <!-- form as paragraph -->
          <input type="number" value="{{i.id}}" name="opid" hidden>
          <label for="srno">SirNo</label>
          <input type="number" class="form-control col-md-6"  name="srno" value="{{i.srno}}">
          <label for="name">name</label>
          <input type="text" class="form-control"  name="name" value="{{i.name}}">
          <label for="bur">burmese</label>
          <input type="text" class="form-control"  name="burmese" value="{{i.burmese}}">
          <label for="point">Point</label>
          <input type="text" class="form-control"  name="point" value="{{i.point}}">
          <hr>
          <label for="resign" class="text-danger h6">Resign : Active </label>
  <select name="resign">
    {% if i.resign == False %}
  <option value="False">Active</option>
  <option value="True" class="btn-danger">Resigned</option>
    {% else %}
  <option value="True">Resigned</option>
  <option value="False" class="btn-success">Active</option>
    {% endif %}
    

  </select>
      
         
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Save Change</button>
      </div>
    </form>
    </div>
  </div>
</div>
      </td>
      
    </tr>
    {% endfor %}

  </tbody>
</table>



  </div>
</div>




{% endblock content %}