{% extends 'base.html' %}

{% block content %}




<div class="card border-info mb-3">
  <div class="card-body">
    <div class="col-md-4">
       <form action="{% url 'myapp:save_operator' %}" method="post"> {% csrf_token %}
      <div class="modal-body">

        {{form}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success invModal">Save Operator</button>
        

      </div>
        </form>
    </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createNewInv">
  + Create New
</button>

<!-- Modal -->
<div class="modal fade" id="createNewInv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="createCus">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Operator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="{% url 'myapp:save_operator' %}" method="post"> {% csrf_token %}
      <div class="modal-body">
<!--        <input type="text" name="newCustomer" class="form-control" id="cusName">-->
        {{form}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success invModal">Save Operator</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
        </form>

    </div>
  </div>
</div>

<hr>

<table class="table table-striped" id="operatorlist">
  <thead>
    <tr>
      
      <th scope="col">EmployeeID</th>
      <th scope="col">Name</th>
      <th scope="col">Burmese</th>
      <th scope="col">Line</th>
      <th scope="col">Role</th>
      
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr>
      
      <td>{{i.employee_code}}</td>
      <td>

        <a href="{% url 'myapp:operatorupdate' i.id %}">{{i.name}}</a>
      
    </td>
      <td>{{i.burmese}}</td>
      <td>{{i.line}}</td>
      <td>{{i.role}}</td>
      
      <td>
      	<a href="{% url 'myapp:daily_rep_filter_operator' i.id %}" class="btn btn-sm btn-info">view target</a>
        <a href="{% url 'myapp:operator_delete' i.id %}" class="btn btn-sm btn-danger">delete</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>



  </div>
</div>




{% endblock content %}