{% extends 'base.html' %}

{% block content %}

<!-- {% for p in op %}
    
   <li> {{p.name}}</li>
   {% for entry in p.daily_report_set.all %}
              <p>-----------{{entry.created_date}}-------{{entry.target_per}}%</p>
          {% empty %}
             
    {% endfor %}

{% endfor %} -->


{% for operator in op %}

<table class="bg-white ml-3">
   <tbody>
   <tr>
      <td width="150px;" class="h5">{{operator.name}}</td>
      {% for entry in operator.daily_report_set.all %}

      {% if entry.created_date < first_date %}

      {% else %}
      <td width="150px;" class="border">
         <table width="150px">
            <tr class="border">
               <td class="h5">{{entry.created_date}}</td>
            </tr>
            <tr class="border">
               {% if entry.target_per < 20 %}
               <td class="h5 bg-danger text-center">{{entry.target_per}}%</td>
               {% else %}
               <td class="h5 text-center">{{entry.target_per}}%</td>
               {% endif %}
            </tr>
         </table>
      
      </td>
      {% endif %}
      
      {% endfor %}
   </tr>
   <!-- <hr> -->
</tbody>
</table>
<hr>

{% endfor %}

{% endblock content %}
