{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-md-center">
  
<!-- <form method="post" action="{% url 'myapp:one_month_red_color' %}">{% csrf_token %}
   <div class="col-md-12 m-2">
     <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
     <input type="submit" class="form-control btn btn-sm btn-danger" value="RED">
   </div>
</form>

<form method="post" action="{% url 'myapp:one_month_success_color' %}">{% csrf_token %}
   <div class="col-md-12 m-2">
     <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
     <input type="submit" class="form-control btn btn-sm btn-success" value="SUCCESS">
   </div>
</form> -->

<form method="post" action="{% url 'myapp:supervisor_getdaily_filter' %}">{% csrf_token %}
  <div class="row m-2">
    <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
    <input type="date" name="duedate" id="" class="form-control col datepicker">
    <input type="submit" class="form-control btn btn-md btn-info col" value="Select Date">
  </div>
</form>

<form method="post" action="{% url 'myapp:one_week_filter' %}">{% csrf_token %}
  <div class="col-md-12 m-2">
    <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
    <input type="submit" class="form-control btn btn-sm btn-warning" value="WEEKLY">
  </div>
</form>

<form method="post" action="{% url 'myapp:one_month_filter' %}">{% csrf_token %}
  <div class="col-md-12 m-2">
    <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
    <input type="submit" class="form-control btn btn-sm btn-secondary" value="MONTHLY">
  </div>
</form>
   

<!-- Filter  -->
<!-- <a href="#" class="btn btn-sm btn-info">Fillter</a> -->

<div class="m-2">


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateFilterModal">
  <i class="fa-solid fa-calendar-days"></i>
   FILTER
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="dateFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-calendar-days"></i></h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form method="post" action="{% url 'myapp:supervisor_result_filter' %}">{% csrf_token %}
            <div class="row m-3 p-3">
              <div class="col">
                 <label class="form-label">Start Date</label>
                <input type="date" class="form-control" name="fdate" required>
              </div>
              <div class="col">
                 <label class="form-label">End Date</label>
                <input type="date" class="form-control" name="tdate" required>
              </div>      
              <div class="col">
                 <label class="form-label">.</label>
                <input type="number" class="form-control" name="lid" value="{{ln}}" hidden>
                <input type="submit" class="form-control btn btn-md btn-primary">
              </div>
              
            </div>
          </form>





       </div>
       <!-- <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div> -->
     </div>
   </div>
 </div>
<!-- End Filter  -->

</div>



</div>



<!-- table view -->

<table class="table table-striped" id="drvtbl">
  <h5>Line Name : <span class="text-primary">{{lname}}</span> </h5>
  <thead>
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Point</th>

      
      
      <th scope="col">8:30 AM</th>
      <th scope="col">9:30 AM</th>
      <th scope="col">10:30 AM</th>
      <th scope="col">11:30 AM</th>
      <th scope="col">1:00 PM</th>
      <th scope="col">2:00 PM</th>
      <th scope="col">3:00 PM</th>
      <th scope="col">4:00 PM</th>
      <th scope="col">5:00 PM</th>
      <th scope="col">6:00 PM</th>
      <th scope="col">7:00 PM</th>
      <th scope="col">Target </th>
      <th scope="col">Total</th>
      <th scope="col">%</th>
      <th scope="col">Remark</th>
      
      


      
    </tr>
  </thead>
  <tbody>
  	{% for i in op %}
    <tr class="drvtbltr">
      
      
      <td><a href="{% url 'myapp:dailyrep_delete' i.id %}">{{i.srno}}</a></td>
      <td style="min-width: 200px;">
        {% if i.absant %}
        <a href="{% url 'myapp:update_combine' i.id %}" class="text-danger h6">{{i.operator_name}}</a>
        {% else %}
        <a href="{% url 'myapp:update_combine' i.id %}" class="text-dark">{{i.operator_name}}</a>
        {% endif %}
        
      </td>
      <td><span class="text-primary">{{i.operator_name.employee_code}}</span></td>
      <td><span class="text-primary">{{i.point}}</span></td>

      
      <td id="ih1-{{i.id}}">
        <!-- <input type="number" class="dvrtblid" value="{{i.id}}" hidden> -->
        
        {% if i.h1 == 0 %}
        
        {% else %}
        {{i.h1}}
        

       
        {% endif %}
      </td>
      <td id="ih2-{{i.id}}">
        
       {% if i.h2 == 0 %}
        
        {% else %}
        {{i.h2}}
        
        {% endif %}
        
      </td>
      <td id="ih3-{{i.id}}">
        
       {% if i.h3 == 0 %}
       
        {% else %}
        {{i.h3}}
        
        {% endif %}
      </td>
      <td id="ih4-{{i.id}}">
        
        {% if i.h4 == 0 %}
        
        {% else %}
        {{i.h4}}
        
        {% endif %}
      </td>
      <td id="ih5-{{i.id}}">
        
        {% if i.h5 == 0 %}
        
        {% else %}
        {{i.h5}}
        
        {% endif %}
      </td>
      <td id="ih6-{{i.id}}">
        
        {% if i.h6 == 0 %}
        
        {% else %}
        {{i.h6}}
        
        {% endif %}
      </td>
      <td id="ih7-{{i.id}}">
        
        {% if i.h7 == 0 %}
        
        {% else %}
        {{i.h7}}
        
        {% endif %}
      </td>
      <td id="ih8-{{i.id}}">
        
        {% if i.h8 == 0 %}
        
        {% else %}
        {{i.h8}}
        
        {% endif %}
      </td>
      <td id="ih9-{{i.id}}">
        
        {% if i.h9 == 0 %}
        
        {% else %}
        {{i.h9}}
        
        {% endif %}
      </td>
      <td id="ih10-{{i.id}}">
        
        {% if i.h10 == 0 %}
        
        {% else %}
        {{i.h10}}
        
       
        {% endif %}
      </td>
      <td id="ih11-{{i.id}}">
        
        {% if i.h11 == 0 %}
        
        {% else %}
        {{i.h11}}
        
        
        {% endif %}
      </td>


      <td>
        <strong style="font-size:18px;">{{i.target}}</strong>
      </td>
      
      <td><strong style="font-size:18px;">{{i.target_qty}}</strong></td>

      <td id="cc-{{i.id}}">      

        <!-- {{i.target_per}} -->
       

<!-- get color hourly -->
<script type="text/javascript">
var foo ={{i.hourcount}};
switch (foo) {
  case 1:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var data = s2/t2*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 2: // Value of foo matches this criteria; execution starts from here
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 3: // no break statement in 'case 0:' so this case will run as well
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 4:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 5:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 6:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 7:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 8:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 9:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 10:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2 + t2
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  case 11:
  var s2 = {{i.target_qty}}
  var t2 = {{i.target}}/{{i.workinghr}}
  var t3 = {{i.target}}
  var data = s2/t3*100
  if (data < 50) {
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#ed3b3b';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      } else if (data >= 80){
        document.getElementById("cc-{{i.id}}").style.backgroundColor ='#32a852';
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
        
      }else{
        document.getElementById("cc-{{i.id}}").innerHTML = parseFloat(data).toFixed(0);
      }
    break;
  default:
  console.log("default log")
}
// Logs 0 and 1

</script>


      </td>
      <td id="rmk-{{i.id}}">
        <!-- {% if i.remark %}
        
        <a href="#" class="btn btn-sm btn-warning"  data-toggle="tooltip" data-placement="left" title="{{i.remark}}">
          <i class="fa-solid fa-comments"></i>
        </a>
        {% endif %}

        {% if i.absant == True %}
        <a href="#" class="btn-sm btn-danger">absant</a>
        {% endif %} -->
      </td>


      
    </tr>
    {% endfor %}

  </tbody>
</table>


<!-- end table view  -->


{% endblock content %}




<!-- <script type = "text/javascript">
  var a = {{p.t_total_output_qty}}/{{p.sum}}*100;
  //document.write(parseFloat(a).toFixed(2))
  if (a < 50) {
document.getElementById("td1").style.backgroundColor ='red';
document.getElementById("l1").innerHTML = parseFloat(a).toFixed(2);
} else if (a < 100){
document.getElementById("td1").style.backgroundColor ='yellow';
document.getElementById("l1").innerHTML = parseFloat(a).toFixed(2);
} else {
document.getElementById("td1").style.backgroundColor ='#35fc03';
document.getElementById("l1").innerHTML = parseFloat(a).toFixed(2);
}



</script> -->