
<!-- {% block content %}
     {% for blog in blog_list %}
          {{ blog.tagline }}
          {% for entry in blog.entry_set.all %}
              {{entry.name}}
          {% empty %}
             
          {% endfor %}
     {% endfor %}
{% endblock %}
 -->

{% for p in op %}
    
   <li> {{p.name}}</li>
   {% for entry in p.daily_report_set.all %}
              <p>-----------{{entry.created_date}}-------{{entry.target_per}}%</p>
          {% empty %}
             
    {% endfor %}

{% endfor %}